# Archivos sensibles
.env
*.log

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs de Airflow
airflow/logs/

# Archivos de sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Volúmenes de Docker (no versionamos datos, solo código)
postgres_data/
superset_home/
metabase_data/
